:root {
  --body-color: #676767;
  --banner-shadow-color: rgba(0, 0, 0, 0.5);
  --border-radius: 20px;
  --slider-width: 47px;
  --pseudoelement-color: #000000;
  --arrow-size: clamp(
    5px,
    2vw,
    15px
  ); /* минимальный размер 5px, максимальный - 15px, 2% от ширины экрана */
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-color);
}

/* Контейнер */
.banner {
  width: 75%;
  height: 80vh;
  margin: 0 auto;
  box-shadow: 0px 0px 14px 3px var(--banner-shadow-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  user-select: none;
}

.centerOfBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Общие стили изображений */
.imgMountains,
.shiftImageMountains {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Изображения */
.imgMountains {
  filter: saturate(150%) contrast(110%);
}

.shiftImageMountains {
  filter: brightness(0.8) contrast(185%) saturate(220%);
}

/* Слайдер */
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--slider-width);
  z-index: 1;
  cursor: pointer;
}

/* Псевдоэлемент - вертикальная ось */
.axisRectangle::after {
  content: "";
  position: absolute;
  background: var(--pseudoelement-color);
  top: 0;
  bottom: 0;
  left: 48.5%;
  width: 3%;
}

/* Псевдоэлемент - прямоугольник */
.rectangle::after {
  content: "";
  position: absolute;
  background: var(--pseudoelement-color);
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
}

/* Cтрелки */
.leftArrow::after,
.rightArrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
}

.leftArrow::after {
  left: 0%;
  border-right: calc(var(--arrow-size)) solid var(--pseudoelement-color);
}

.rightArrow::after {
  right: 0%;
  border-left: calc(var(--arrow-size)) solid var(--pseudoelement-color);
}

/* Стили для градиентного фона */
.shiftBannerMountains {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      189deg,
      rgb(211 40 40 / 47%) 3%,
      rgb(251 115 115 / 40%) 32%,
      transparent 54.71%
    ),
    linear-gradient(
      165deg,
      rgb(242 255 158 / 18%) 11%,
      rgb(222 207 150 / 11%) 36%,
      transparent 41.71%
    ),
    linear-gradient(
      187deg,
      transparent 12%,
      rgb(235 220 216 / 35%) 30%,
      rgb(242 187 136 / 35%) 46%,
      transparent 63.71%
    );
  filter: saturate(188%);
}
